/* ExtraBold */
@font-face {
  font-family: TTBarrels;
  src: url('../fonts/TT Barrels ExtraBold.otf');
  font-weight: 800;
  font-style: normal;
}

/* ExtraBold italic */
@font-face {
  font-family: TTBarrels;
  font-weight: 800;
  font-style: italic;
  src : url("../fonts/TT Barrels ExtraBold Italic.otf");
}

/* Bold */
@font-face {
  font-family: TTBarrels;
  src: url('../fonts/TT Barrels Bold.otf');
  font-weight: 700;
}

/* DemiBold */
@font-face {
  font-family: TTBarrels;
  src: url('../fonts/TT Barrels DemiBold.otf');
  font-weight: 600;
}

/* DemiBold Italic */
@font-face {
  font-family: TTBarrels;
  font-style: italic;
  font-weight: 600;
  src : url("../fonts/TT Barrels DemiBold Italic.otf");
}

/* Regular */
@font-face {
  font-family: TTBarrels;
  src: url('../fonts/TT Barrels Regular.otf');
  font-weight: normal;
}

/* Italic */
@font-face {
  font-family: TTBarrels;
  src: url('../fonts/TT Barrels Italic.otf');
  font-weight: normal;
  font-style: italic;
}

/* Light */
@font-face {
  font-family: TTBarrels;
  src: url('../fonts/TT Barrels Light.otf');
  font-weight: 100;
  font-style: normal;
}

/* Light */
@font-face {
  font-family: TTBarrels;
  src: url('../fonts/TT Barrels Light Italic.otf');
  font-weight: 100;
  font-style: italic;
}
