@import "nullstyle.scss";
@import "fonts.scss";

html,body {
	height: 100%;
}

body {

}

.wrapper {
	display: none;
}

.wrapper.active {
	// min-width: 100%;
	// min-height: 100%;

	min-width: 1440px;
	margin: auto;
	overflow: hidden;
	
	font-family: "TTBarrels";
	font-weight: 400;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.container {
	width: 1440px;
	margin: auto;
	padding: 0px 50px;
}

.important {
	width: 100%;
	background: #fabc44;
	.important__wrapper {
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		.important__title {
			font-weight: 600;
			font-size: 22px;
			text-transform: uppercase;
		}
	}

	
}


 /* ---------- coming Вариант 1 ---------- */

/*.coming-desktop {
	min-width: 1440px;
	position: relative;

	.coming-desktop__bg {
		width: 100%;

		display: flex;
		flex-direction: row;

		.coming-desktop__img {
			width: 25%;
		}
		.coming-desktop__img img {
			width: 100%;
		}
	}

	.coming-desktop__wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;

		color: #fff;

		padding: 50px 50px;

		.coming-desktop__row {
			display: flex;
			justify-content: space-between;
			width: 100%;

			.coming-desktop__item {
				font-size: 25px;
				font-weight: 600;
				letter-spacing: 2.5px;
			}

			.coming-desktop__title {
				color: #fabc44;
				font-size: 230px;
				font-weight: 300;
				letter-spacing: -21.56px;
				font-style: italic;

			}

			.coming-desktop__form {
				width: 660px;
				height: 200px;

				background: #121212;
				border-radius: 29px;

				display: flex;
				flex-direction: column;
				justify-content: space-between;

				padding: 30px 40px;

				.coming-desktop__form-title {
					font-size: 25px;
					font-weight: 600;
					line-height: 1.28;
					color: #fff;
				}

				.coming-desktop__form-auth {
					display: flex;
					align-items: center;
					justify-content: space-between;
					border-bottom: solid 1px #646464;
					padding: 0px 0px 20px 0px; 

					.coming-desktop__form-input {
						background: #121212;
						font-size: 25px;
						letter-spacing: -1px;
						color: #fff;
					}
					.coming-desktop__form-sign {
						color: #fff;
						font-size: 25px;
						letter-spacing: -1px;
					}
				}
			}

			.coming-desktop__column {
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				.coming-desktop__text {
					text-align: right;
					font-size: 25px;
					font-weight: 600;
					line-height: 1.28;
				}
				.coming-desktop__btn {
					width: 354px;
					height: 52px;
					border-radius: 14px;
					background: #fabc44;

					color: #000;
					font-size: 25px;
					letter-spacing: -1px;
				}
			}

		}
	}
}

.coming-desktop.hidden {
	display: none;
} */


/* ---------- coming Вариант 2 ---------- */

.coming-desktop {
	min-width: 1440px;
	position: relative;

	.coming-desktop__bg {
		width: 100%;

		display: flex;
		flex-direction: row;

		.coming-desktop__img {
			width: 25%;
		}
		.coming-desktop__img img {
			width: 100%;
		}
	}

	.coming-desktop__wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		display: flex;
		flex-direction: column;
		justify-content: space-between;

		color: #fff;

		padding: 50px 50px;

		.coming-desktop__row {
			display: flex;
			justify-content: space-between;
			width: 100%;

			position: relative;

			.coming-desktop__item {
				font-size: 25px;
				font-weight: 600;
				letter-spacing: 2.5px;
			}

			.coming-desktop__item span {
				margin: 0px 0px 0px 60px;
			}

			.coming-desktop__btn {
				width: 354px;
				height: 52px;
				border-radius: 14px;
				background: #fabc44;
				color: #000;
				font-size: 25px;
				letter-spacing: -1px;
			}

			.coming-desktop__title {
				color: #fabc44;
				font-size: 220px;
				font-weight: 300;
				letter-spacing: -21.56px;
				text-align: center;
				font-style: italic;

				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				width: 100%;
			}

			.coming-desktop__form {
				width: 660px;
				height: 200px;

				background: #121212;
				border-radius: 29px;

				display: flex;
				flex-direction: column;
				justify-content: space-between;

				padding: 30px 40px;

				.coming-desktop__form-title {
					font-size: 25px;
					font-weight: 600;
					line-height: 1.28;
					color: #fff;
				}

				.coming-desktop__form-auth {
					display: flex;
					align-items: center;
					justify-content: space-between;
					border-bottom: solid 1px #646464;
					padding: 0px 0px 20px 0px; 

					.coming-desktop__form-input {
						background: #121212;
						font-size: 25px;
						letter-spacing: -1px;
						color: #fff;
					}
					.coming-desktop__form-sign {
						color: #fff;
						font-size: 25px;
						letter-spacing: -1px;
					}
				}
			}

			.coming-desktop__column {
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				.coming-desktop__text {
					text-align: right;
					font-size: 25px;
					font-weight: 600;
					line-height: 1.28;
				}

				.coming-desktop__logo {
					width: 388px;
				}
				.coming-desktop__logo img {
					width: 100%;
				}
			}

		}
	}
}

.coming-desktop.hidden {
	display: none;
}

/* ---------- Coming-mobile ---------- */


.coming-mobile {
	height: 100%;
	width: 100%;

	display: none;

	.coming-mobile__container {
		display: flex;
		flex-direction: column;
		.coming-mobile__bg {
			display: flex;
			flex-direction: row;

			width: 100%;
			height: 30%;

			margin: 0px 0px 20px 0px;

			.coming-mobile__img {
				width: 25%;
			}
			.coming-mobile__img img {
				width: 100%;
			}
		}

		.coming-mobile__wrapper {
			width: 100%;
			height: 2048px;
			background: #324a6a;

			padding: 100px 0;

			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			.coming-mobile__body {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-between;
				.coming-mobile__logo {
					width: 40%;

					margin: 0px 0px 70px 0px;
				}
				.coming-mobile__logo img {
					width: 100%;
				}
				.coming-mobile__title {
					color: #fabc44;
					font-size: 250px;
					font-weight: 300;
					letter-spacing: -8px;
					text-align: center;
					width: 80%;

					margin: 0px 0px 70px 0px;
				}
				.coming-mobile__subtitle {
					font-size: 70px;
					font-weight: 600;
					line-height: 1.18;
					text-align: center;
					color: #fff;
					width: 70%;
					margin: 0px 0px 90px 0px;
				}
			}

			.coming-mobile__form {
				width: 90%;
				border-radius: 40px;
				background: #000;

				margin: 0px 0px 90px 0px;

				padding: 50px 80px;
				.coming-mobile__auth { 
					padding: 0px 0px 20px 0px;
					border-bottom: 6px solid #848484;
					.coming-mobile__input {
						width: 70%;
						background: #000;
						color: #fff;
						font-size: 60px;
					}
					.coming-mobile__arrow {}
				}
			}
			.coming-mobile__btn {
				background: none;
				color: #ffb320;
				font-size: 60px;
				font-weight: 600;
				text-transform: uppercase;
				border-bottom: 8px solid #ffb320;

				padding: 0px 0px 10px 0px;
			}
		}
	}
}
	

.coming-mobile.hidden {
	display: none;
}

/* ---------- Header ---------- */

.header {
	width: 100%;
	background: #b6c1c1;
	padding: 37px 0;

	.header__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;

		width: 100%;
		height: 100px;
		font-size: 22px;
		font-weight: 600;
		text-transform: uppercase;

		.header__item {
		}
		.header__item a {
			color: #000;
		}
		.header__menu {
			display: flex;
			align-items: center;
			justify-content: center;

			background: #fff;
			border: solid 1px #000;
			border-radius: 50px;

			padding: 10px 58px 10px 58px;

			.header__link {
				margin: 0px 21px 0px 0px;
			}
			.header__link a {
				color: #000;
			}

			.header__logo {
				margin: 0px 34px;
			}
			.header__logo img {}
		}
	}
}


/* ---------- CTA ---------- */

.cta {
	width: 100%;
	background: #b6c1c1;

	.cta__wrapper {
		.cta__title {
			position: relative;
			font-size: 160px;
			font-weight: 300;
			margin: 0px 0px 30px 0px;
			.cta__subtitle {
				float: right;
				width: 306px;
				font-size: 25px;
				font-weight: 600;	
			}
			.cta__btn {
				position: absolute;
				bottom: 115px;
				right: 0;

				width: 300px;
				height: 70px;
				background: #fabc44;

				border-radius: 42px;
  				border: solid 1px #979797;

				font-size: 22px;
				font-weight: 600;
				letter-spacing: 2px;
				text-transform: uppercase; 
			}
		}
		
		.cta__columns {
			display: grid;
			grid-template-columns: 1fr 1fr;

			margin: 0px 0px 50px 0px;

			.cta__column {
				.cta__img {
					background: #121212;
					width: 640px;
					height: 470px;

					border-radius: 8px;
  					border: solid 1px #979797;

					margin: 0px 0px 22px 0px;
				}
				.cta__img img {
					width: 100%;
				}
				.cta__number {
					font-size: 25px;
					margin: 0px 0px 14px 0px;
				}
				.cta__name {
					font-size: 90px;
				}
				.cta__desc {
					font-size: 25px;
				}
			}
		}
	}
}


/* ---------- SEPARATOR ---------- */

.separator {
	width: 100%;
	background: #c2813b;

	.separator__wrapper {
		font-size: 50px;
		text-transform: uppercase;
		letter-spacing: -3px;

		margin: 0px -700px;
		padding: 36px 0px;
	}
}


/* ---------- GRID ---------- */

.grid {
	width: 100%;
	.grid__wrapper {
		box-sizing: border-box;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;

		grid-gap: 1px;
		background: #fff;

		margin: 0px -50px;

		.grid__big {
			background: #000;
			grid-area: 1 / 1 / span 2 / span 1;

			display: flex;
			flex-direction: column;
			justify-content: flex-end;

			width: 500px;
			padding: 70px 0px;

			.grid__title {
				color: #c2813b;
				font-size: 25px;

				padding: 0px 50px;
				margin: 0px 0px 25px 0px;
			}
			.grid__text {
				color: #fff;
				font-size: 25px;

				padding: 0px 50px;
			}
		}
		.grid__item {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			background: #000;
			height: 260px;

			font-size: 60px;
			letter-spacing: -3px;
  			color: #fff;

  			
		}
		.grid__item p {
			position: relative;
		}
		.grid__item p::after {
			content: '';

			width: 100%;
			height: 2px;
			background: #fff;

			position: absolute;
			bottom: 0px;
			left: 0px;
		}
	}
}


/* ---------- FAMILY ---------- */

.family {
	width: 100%;
	background: #d8d8d8;
	padding: 70px 0;
	.family__wrapper {
		.family__top {
			display: flex;
			align-items: flex-end;
			justify-content: space-between;

			margin: 0px 0px 40px 0px;

			.family__title {
				font-size: 90px;
				letter-spacing: -6px;
			}
			.family__scroll {
				font-size: 20px;
  				font-weight: 600;
  				letter-spacing: 3px;
			}
		}

		.family__row {
			display: flex;

			.family__item {
				margin: 0px 10px 0px 0px;
				.family__img {
					width: 550px;
					height: 765px;

					background: #121212;

					margin: 0px 0px 20px 0px;
				}
				.family__img img {
					width: 100%;
				}
				.family__text {
					font-size: 22px;
					line-height: 1.36;
  					letter-spacing: -0.2px;
					.family__year {
						font-weight: 600;
						color: #ff0000;
					}
					.family__name {
						font-weight: 800;
					}
				}
			}
		}
	}
}


/* ---------- ANNOUNCEMENT ---------- */


.announcement {
	width: 100%;
	background: #f7f3ee;

	padding: 60px 0;

	.announcement__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		.announcement__title {
			display: flex;
			align-items: center;

			margin: 0px 0px 40px 0px;
			.announcement__part-title {
				font-size: 120px;
				color: #2d1d1d;
				letter-spacing: -8px;
				text-transform: uppercase;
			}
			.announcement__img {
				background: #fabc44;
				border-radius: 42px;

				width: 145px;
				height: 145px;

				margin: 0 40px;
			}
			.announcement__img img {
				width: 100%;
			}
		}
		.announcement__text {
			width: 1044px;

			font-size: 60px;
			letter-spacing: -5.45px;
			text-align: center;

			margin: 0px 0px 40px 0px;
		}
		.announcement__btn {
			border-radius: 42px;
  			background: #000;
  			width: 374px;
  			height: 70px;

  			font-size: 22px;
  			text-transform: uppercase;
  			color: #fff;
  			font-weight: 600;
  			letter-spacing: 2px;

  			margin: 0px 0px 56px 0px;
		}

		.announcement__items {
			display: flex;

			.announcement__item {
				width: 374px;
				height: 358px;

				background: #dde7f0;
				border-radius: 18px;
				box-shadow: 0 0 0 3px #f7f3ee, inset 0 0 0 3px #f7f3ee, 0 0 0 4px #979797;
				
				display: flex;
				flex-direction: column;
				justify-content: center;

				margin: 0px 20px;
				padding: 30px;

				.announcement__item-tag {
					border-radius: 17px;
					background: #000;

					letter-spacing: 1.82px;
					color: #f0e8dd;
					font-size: 20px;
					font-weight: 600;

					width: 88px;
					height: 37px;

					margin: 0px 0px 30px 0px;
				}
				.announcement__item-title {
					font-weight: normal;
					font-style: italic;
					font-size: 60px;
					letter-spacing: -4px;

					margin: 0px 0px 20px 0px;
				}
				.announcement__item-desc {
					font-size: 25px;
					line-height: 1.2;
  					letter-spacing: -0.23px;

  					margin: 0px 0px 70px 0px;
				}
				.announcement__item-bottom {
					display: flex;
					justify-content: space-between;

					font-size: 22px;
					text-transform: uppercase;

					position: relative;
					.announcement__item-price {}
					.announcement__item-time {}
				}
				.announcement__item-bottom::before {
					content: '';
					width: 311px;
					height: 1px;

					background: #979797;

					position: absolute;
					left: 0;
					top: -20px;
				}
			}

			.announcement__item:nth-child(1) {
				background: #f0e8dd;
			}
			.announcement__item:nth-child(2) {
				background: #f0e8dd;
			}
			.announcement__item:nth-child(3) {}
			.announcement__item:nth-child(4) {
				background: #f0dedd;
			}
			.announcement__item:nth-child(5) {
				background: #f0dedd;
			}
		}
	}
}


/* ---------- AMBASSADORS ---------- */

.ambassadors {
	width: 100%;
	background: #bcc5d1;

	padding: 60px 0;
	.ambassadors__wrapper {
		.ambassadors__grid {
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			grid-gap: 25px;

			margin: 0px 0px 100px 0px;
			.ambassadors__item {
				width: 240px;
				height: 350px;

				border-radius: 30px;
				background: #000;

				color: #fabc44;
				font-size: 25px;
				text-align: center;

				position: relative;

				display: flex;
				flex-direction: column;
				align-items: center;

				padding: 10px;

				transition: all 5s easy;

				.ambassadors__item-img {
					width: 216px;
					height: 256px;
					background: #fabc44;
					border-radius: 13px;

					margin: 0px 0px 20px 0px;
				}
				.ambassadors__item-img img {
					width: 100%;
				}
				.ambassadors__item-name {
					text-transform: uppercase;
				}
				.ambassadors__item-desc {
					display: none;
				}
			}
			.ambassadors__item:hover {
				.ambassadors__item-img {
					display: none;
				}
				.ambassadors__item-name {
					display: none;
				}
				.ambassadors__item-desc {
					display: block;

					line-height: 1.2;

					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}
		.ambassadors__text {
			display: flex;
			flex-direction: row;
			.ambassadors__title {
				font-size: 120px;
				letter-spacing: -8px;
				margin: 0px 80px 0px 0px;
			}
			.ambassadors__subtitle {
				width: 310px;
				font-size: 25px;
				font-weight: 600;
				line-height: 1.4;
			}
		}
	}
}


/* ---------- VIDEO ---------- */

.video {
	width: 100%;
	background: #121212;

	padding: 0px -50px;
	.video__wrapper {
		position: relative;

		width: 100%;
		height: 882px;

		display: flex;
		align-items: center;
		justify-content: center;

		.video__video {
			position: absolute;
			top: 0;
			left: 0;

			width: 100%;
			height: 100%;
			
			background-blend-mode: multiply;
  			background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 110%, rgba(0, 0, 0, 0.5));
		}
		.video__title {
			color: #f99f3d;
			font-size: 65px;
			font-style: italic;
			letter-spacing: -3.61px;
			text-align: center;
		}
	}
}

/* ---------- EDUCATORS ---------- */

.educators {
	width: 100%;
	background: #373131;

	padding: 70px 0px;

	.educators__wrapper {
		.educators__top {
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			margin: 0px 0px 40px 0px;

			.educators__title {
				color: #c2813b;
				font-size: 90px;
				letter-spacing: -6px;
			}
			.educators__btn {
				width: 320px;
				height: 70px;

				background: #c2813b;
				border-radius: 42px;
				border: solid 1px #000;

				color: #000;
				letter-spacing: 2px;
				font-size: 22px;
				font-weight: 600;
			}
		}
		.educators__grid {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 15px;

			.educators__item {		
				.educators__block {
					width: 320px;
					height: 420px;
					border-radius: 70px;
	  				border: solid 1px #979797;
	  				background: #000;

	  				position: relative;

	  				margin: 0px 0px 30px 0px;
					.educators__position {
						position: absolute;
						bottom: 26px;
						left: 22px;

						width: 273px;
						height: 49px;
						border: solid 1px #000;
						border-radius: 33px;
						background-color: #bcc5d1;

						font-size: 15px;

						display: flex;
						align-items: center;
						justify-content: center;

					}
				}
				.educators__desc {
					font-size: 25px;
					line-height: 1.2;
					color: #fabc44;
					text-align: center;
				}
				.educators__desc p {
					font-weight: 800;
				}
			}
		}
	}
}


/* ---------- SECOND-GRID ---------- */

.second-grid {
	width: 100%;

	position: relative;

	.second-grid__wrapper {
		box-sizing: border-box;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;

		grid-gap: 1px;
		background: #fff;

		margin: 0 -50px;

		.second-grid__big {
			background: #000;
			grid-area: 1 / 1 / span 2 / span 1;

			display: flex;
			flex-direction: column;
			justify-content: flex-end;

			padding: 70px 0px;

			.second-grid__title {
				color: #c2813b;
				font-size: 25px;

				padding: 0px 50px;
				margin: 0px 0px 25px 0px;
			}
			.second-grid__text {
				color: #fff;
				font-size: 25px;

				padding: 0px 50px;
			}
		}
		.second-grid__item {
			display: flex;
			flex-direction: column;

			height: 520px;
			color: #fff;
			background: #000;

			padding: 20px; 

			position: relative;

			.second-grid__item-tag {
				display: flex;
				align-items: center;
				justify-content: center;

				width: 180px;
				height: 37px;
				border-radius: 17px;
				background: #000;

				font-size: 20px;
				font-weight: 600;
				letter-spacing: 1.82px;
				color: #dde7f0;
				text-transform: uppercase;

				position: absolute;
				top: 40px;
				left: 40px;

			}

			.second-grid__item-img {
				width: 340px;
				height: 230px;

				border-radius: 18px;
				box-shadow: inset 0 0 0 6px #000, 0 0 0 1px #fff;

				background: #c2813b;

				margin: 0px 0px 20px 0px;
			}
			.second-grid__item-img img {
				width: 100%;
			}
			.second-grid__item-row {
				display: flex;
				justify-content: space-between;

				font-size: 25px;
				letter-spacing: -1px;

				margin: 0px 0px 20px 0px;

				.second-grid__item-date {
					text-transform: uppercase;
				}
				.second-grid__item-time {}
			}
			.second-grid__item-title {
				font-style: italic;
				font-size: 45px;
				line-height: 1.11;
				letter-spacing: -3px;
			}

			.second-grid__btn {	
				width: 297px;
				height: 70px;
				border-radius: 42px;
				background: #fff;
				
				font-size: 22px;
				font-weight: 600;
				letter-spacing: 2px;
				color: #000;
				position: absolute;
				bottom: 100px;
				right: 40px;
			}

		}
	}
}


/* ---------- SPEAKERS ---------- */

.speakers {
	width: 100%;
	background: #f7f3ee;

	padding: 150px 0;

	.speakers__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;

		.speakers__title {
			font-size: 60px;
			font-style: italic;
			letter-spacing: -5.45px;
			text-align: center;

			margin: 0px 0px 100px 0px;
		}
		.speakers__grid {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 60px;
			.speakers__item {
				font-size: 25px;
				font-weight: 600;
				line-height: 1.6;
				letter-spacing: -1px;
			}
		}
	}
}


/* ---------- SPACE ---------- */

.space {
	width: 100%;
	background: #f7b03c;
	padding: 50px 0;

	.space__wrapper	{
		display: flex;
		flex-direction: column;
		align-items: center;

		.space__slider {
			margin: 0px 0px 100px 0px;

			display: flex;
			flex-direction: row;

			.space__item {
				width: 1344px;
				height: 882px;
				background: #121212;

				margin: 0px 40px;
			}
			.space__item img {
				width: 100%;
			}
		}

		.space__subtitle {
			font-size: 60px;
			font-style: italic;
			letter-spacing: -5.45px;
			text-align: center;

			width: 1044px;

			margin: 0px 0px 50px 0px;

		}
		.space__number {
			font-size: 25px;
			letter-spacing: -1px;
		}
		.space__title {
			font-size: 120px;
			line-height: 1.83;
			letter-spacing: -8px;
		}
	}
}


/* ---------- FORM ---------- */

.form {
	width: 100%;
	background: #373131;

	padding: 120px 0;

	.form__wrapper{
		display: flex;

		.form__form {
			width: 820px;
			height: 500px;

			border-radius: 70px;
			background-color: #d8d8d8;

			display: flex;
			flex-direction: column;
			justify-content: center;

			padding: 20px 60px;
			margin: 0px 25px 0px 0px;

			.form__title {
				font-size: 90px;
				letter-spacing: -6px;

				margin: 0px 0px 30px 0px;
			}
			.form__subtitle {
				font-size: 25px;
				font-weight: 600;
				line-height: 1.4;

				margin: 0px 0px 30px 0px;
			}
			.form__input {
				background: #d8d8d8; 
				font-size: 45px;
				letter-spacing: -3px;
				color: #000;

				border-bottom: 2px solid #000;

				padding: 10px 0px;
				margin: 0px 0px 30px 0px;
			}
			.form__btn {
				width: 300px;
				height: 70px;

				border-radius: 42px;
				background: #000;

				font-size: 22px;
				font-weight: 600;
				letter-spacing: 2px;
				color: #fff;
			}
		}
		.form__img {
			width: 480px;
			height: 500px;

			border-radius: 70px;
			border: solid 1px #979797;

			background: #f7b03c;
		}
		.form__img img {
			width: 100%;
		}
	}
}


/* ---------- FOOTER ---------- */

.footer {
	width: 100%;
	background: #000;

	padding: 70px 0;

	.footer__wrapper {
		color: #fff;
		.footer__top {
			display: flex;
			flex-direction: row;
			align-items: flex-end;
			justify-content: space-between;

			margin: 0px 0px 100px 0px;

			.footer__title {
				display: flex;
				flex-direction: row;

				font-size: 35px;

				.footer__img {
					width: 630px;
					height: 110px;
				}
				.footer__img img {
					width: 100%;
				}
			}
			.footer__btn {
				width: 312px;
				height: 70px;

				background: #fff;
				border-radius: 42px;

				text-transform: uppercase;
				font-size: 22px;
				font-weight: 600;
				letter-spacing: 2px;
				color: #000;
			}
		}
		.footer__menu {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;

			margin: 0px 0px 50px 0px;

			.footer__menu-item {
				display: flex;
				flex-direction: column;
			}
			.footer__menu-item a {
				color: #fff;
				font-size: 50px;
				letter-spacing: -3px;
				text-transform: uppercase;

				margin: 0px 0px 20px 0px;
			}
		}
		.footer__info {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;

			.footer__info-item {
				width: 350px;

				font-size: 25px;
				font-weight: 600;
				line-height: 1.4;
			}
		}
	}
}


/* ---------- POWER ---------- */

.power {
	width: 100%;
	background: #000;
	.power__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;

		color: #fff;
		.power__title {
			font-size: 240px;
			font-weight: 300;
			font-style: italic;
			letter-spacing: -21.6px;

			margin: 0px -200px;
		}
		.power__row {
			width: 100%;

			display: flex;
			flex-direction: row;
			justify-content: space-between;

			margin: 0px 0px 40px 0px;

			.power__item {
				font-size: 25px;
				letter-spacing: -1px;

				text-transform: uppercase;
			}
		}
	}
}
