@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/* ExtraBold */
@font-face {
  font-family: TTBarrels;
  src: url("../fonts/TT Barrels ExtraBold.otf");
  font-weight: 800;
  font-style: normal;
}
/* ExtraBold italic */
@font-face {
  font-family: TTBarrels;
  font-weight: 800;
  font-style: italic;
  src: url("../fonts/TT Barrels ExtraBold Italic.otf");
}
/* Bold */
@font-face {
  font-family: TTBarrels;
  src: url("../fonts/TT Barrels Bold.otf");
  font-weight: 700;
}
/* DemiBold */
@font-face {
  font-family: TTBarrels;
  src: url("../fonts/TT Barrels DemiBold.otf");
  font-weight: 600;
}
/* DemiBold Italic */
@font-face {
  font-family: TTBarrels;
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/TT Barrels DemiBold Italic.otf");
}
/* Regular */
@font-face {
  font-family: TTBarrels;
  src: url("../fonts/TT Barrels Regular.otf");
  font-weight: normal;
}
/* Italic */
@font-face {
  font-family: TTBarrels;
  src: url("../fonts/TT Barrels Italic.otf");
  font-weight: normal;
  font-style: italic;
}
/* Light */
@font-face {
  font-family: TTBarrels;
  src: url("../fonts/TT Barrels Light.otf");
  font-weight: 100;
  font-style: normal;
}
/* Light */
@font-face {
  font-family: TTBarrels;
  src: url("../fonts/TT Barrels Light Italic.otf");
  font-weight: 100;
  font-style: italic;
}
html, body {
  height: 100%;
}

.wrapper {
  min-width: 1440px;
  margin: auto;
  overflow-x: hidden;
  font-family: TTBarrels, "Times New Roman", sans-serif;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.container {
  width: 1440px;
  margin: auto;
  padding: 0 50px;
}

.important {
  width: 100%;
  background: #fabc44;
}
.important .important__wrapper {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.important .important__wrapper .important__title {
  font-weight: 600;
  font-size: 22px;
  text-transform: uppercase;
}

/* ---------- Header ---------- */
.header {
  width: 100%;
  background: #b6c1c1;
  padding: 44px 0;
  /*transition: 0.5s ease;*/
}
.header .header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100px;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
}
.header .header__wrapper .header__item {
  padding-top: 5px;
}
.header .header__wrapper .header__item a {
  color: #000;
}
.header .header__wrapper .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  border: solid 1px #000;
  border-radius: 50px;
  padding: 10px 58px 10px 58px;
  z-index: 10;
}
.header .header__wrapper .header__menu .header__link {
  margin: 5px 10.5px 0;
  white-space: nowrap;
}
.header .header__wrapper .header__menu .header__link a {
  color: #000;
}
.header .header__wrapper .header__menu .header__logo {
  width: 380px;
  margin: 0 34px;
}
.header .header__wrapper .header__menu .header__logo img {
  width: 100%;
}
.header .header__wrapper .header__menu.fixed {
  position: fixed;
  top: 3%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.header__mobile {
  display: none;
}

/* ---------- CTA ---------- */
.cta {
  width: 100%;
  background: #b6c1c1;
}
.cta .cta__wrapper .cta__title {
  position: relative;
  font-weight: 300;
  margin: 0 0 30px 0;
}
.cta .cta__wrapper .cta__title .cta__subtitle {
  float: right;
  width: 350px;
  line-height: 1.4;
  font-size: 25px;
  font-weight: 600;
}
.cta .cta__wrapper .cta__title .cta__btn {
  position: absolute;
  bottom: 115px;
  right: 0;
  padding-top: 5px;
  width: 300px;
  height: 70px;
  background: #fabc44;
  border-radius: 42px;
  border: solid 1px #979797;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.cta .cta__wrapper .cta__title p {
  text-transform: uppercase;
  letter-spacing: -18px;
  font-size: 180px;
}
.cta .cta__wrapper .cta__title-mobile {
  display: none;
}
.cta .cta__wrapper .cta__columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  margin: 0 0 50px 0;
}
.cta .cta__wrapper .cta__columns .cta__column {
  width: 640px;
}
.cta .cta__wrapper .cta__columns .cta__column .cta__img {
  width: 640px;
  height: 470px;
  margin: 0 0 22px 0;
}
.cta .cta__wrapper .cta__columns .cta__column .cta__img img {
  border-radius: 8px;
  border: solid 1px #979797;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cta .cta__wrapper .cta__columns .cta__column .cta__number {
  text-transform: uppercase;
  font-size: 25px;
  margin: 0 0 14px 0;
}
.cta .cta__wrapper .cta__columns .cta__column .cta__name {
  font-size: 90px;
}
.cta .cta__wrapper .cta__columns .cta__column .cta__desc {
  text-transform: uppercase;
  font-size: 25px;
}

/* ---------- SEPARATOR ---------- */
.separator {
  width: 100%;
  background: #c2813b;
  white-space: nowrap;
  overflow: hidden;
  padding: 36px 0;
}
.separator .separator__wrapper span {
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: -3px;
  display: inline-block;
}

/* ---------- GRID ---------- */
.grid {
  width: 100%;
  background: #000;
}
.grid .grid__wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1px 1fr 1px 1fr 1px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1px;
  background: #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  margin: 0 -50px;
}
.grid .grid__wrapper .grid__big {
  background: #000;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/span 2/span 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 500px;
  padding: 70px 0;
}
.grid .grid__wrapper .grid__big .grid__title {
  text-transform: uppercase;
  color: #c2813b;
  font-size: 25px;
  padding: 0 50px;
  margin: 0 0 25px 0;
}
.grid .grid__wrapper .grid__big .grid__text {
  color: #fff;
  font-size: 25px;
  padding: 0 50px;
}
.grid .grid__wrapper .grid__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #000;
  height: 260px;
}
.grid .grid__wrapper .grid__item:hover {
  background: #555;
}
.grid .grid__wrapper .grid__item a {
  font-size: 60px;
  letter-spacing: -3px;
  color: #fff;
  position: relative;
}
.grid .grid__wrapper .grid__item a::after {
  content: "";
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* ---------- FAMILY ---------- */
.family {
  width: 100%;
  background: #d8d8d8;
  padding: 70px 0;
}
.family .family__wrapper {
  width: 1680px;
}
.family .family__wrapper .family__top {
  width: 1340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 40px 0;
}
.family .family__wrapper .family__top .family__title {
  font-size: 90px;
  letter-spacing: -6px;
}
.family .family__wrapper .family__top .family__scroll {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.family .family__wrapper .family__top .family__scroll img {
  width: 80px;
  margin: 0 0 0 40px;
  cursor: pointer;
}
.family .family__wrapper .family__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.family .family__wrapper .family__row .family__item {
  margin: 0 10px 0 0;
}
.family .family__wrapper .family__row .family__item .family__img {
  width: 550px;
  height: 765px;
  background: #121212;
  margin: 0 0 20px 0;
}
.family .family__wrapper .family__row .family__item .family__img img {
  width: 100%;
}
.family .family__wrapper .family__row .family__item .family__text {
  font-size: 22px;
  line-height: 1.36;
  letter-spacing: -0.2px;
}
.family .family__wrapper .family__row .family__item .family__text .family__year {
  font-weight: 600;
  color: #ff0000;
}
.family .family__wrapper .family__row .family__item .family__text .family__name {
  font-weight: 800;
}

/* ---------- ANNOUNCEMENT ---------- */
.announcement {
  width: 100%;
  background: #f7f3ee;
  padding: 60px 0;
}
.announcement .announcement__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.announcement .announcement__wrapper .announcement__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 40px 0;
}
.announcement .announcement__wrapper .announcement__title .announcement__part-title {
  font-size: 120px;
  color: #2d1d1d;
  letter-spacing: -8px;
  text-transform: uppercase;
}
.announcement .announcement__wrapper .announcement__title .announcement__img {
  width: 145px;
  height: 145px;
  margin: 0 40px;
}
.announcement .announcement__wrapper .announcement__title .announcement__img img {
  width: 100%;
  height: 100%;
  border-radius: 42px;
  -o-object-fit: cover;
     object-fit: cover;
}
.announcement .announcement__wrapper .announcement__text {
  width: 1044px;
  font-size: 60px;
  font-style: italic;
  letter-spacing: -5.45px;
  text-align: center;
  margin: 0 0 40px 0;
}
.announcement .announcement__wrapper .announcement__btn {
  border-radius: 42px;
  background: #000;
  width: 374px;
  height: 70px;
  padding-top: 5px;
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  margin: 0 0 56px 0;
}
.announcement .announcement__wrapper .announcement__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.announcement .announcement__wrapper .announcement__items .announcement__item {
  position: relative;
  width: 374px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #dde7f0;
  border-radius: 18px;
  -webkit-box-shadow: 0 0 0 3px #f7f3ee, inset 0 0 0 3px #f7f3ee, 0 0 0 4px #979797;
          box-shadow: 0 0 0 3px #f7f3ee, inset 0 0 0 3px #f7f3ee, 0 0 0 4px #979797;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  margin: 0 20px;
  padding: 30px;
}
.announcement .announcement__wrapper .announcement__items .announcement__item .announcement__item-wrapper {
  height: 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.announcement .announcement__wrapper .announcement__items .announcement__item .announcement__item-wrapper .announcement__item-top {
  max-width: 100%;
}
.announcement .announcement__wrapper .announcement__items .announcement__item .announcement__item-wrapper .announcement__item-top .announcement__item-tags {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 0 0 30px 0;
  white-space: nowrap;
}
.announcement .announcement__wrapper .announcement__items .announcement__item .announcement__item-wrapper .announcement__item-top .announcement__item-tags .announcement__item-tag {
  border-radius: 17px;
  background: #000;
  letter-spacing: 1.82px;
  color: #f0e8dd;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 20px 7px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.announcement .announcement__wrapper .announcement__items .announcement__item .announcement__item-wrapper .announcement__item-top .announcement__item-tags .announcement__item-open {
  border-radius: 17px;
  border: 1px solid #000;
  background: #f7b03c;
  letter-spacing: 1.82px;
  color: #000;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 20px 7px 20px;
}
.announcement .announcement__wrapper .announcement__items .announcement__item .announcement__item-wrapper .announcement__item-top .announcement__item-title {
  font-weight: normal;
  font-style: italic;
  font-size: 60px;
  letter-spacing: -4px;
  margin: 0 0 20px 0;
}
.announcement .announcement__wrapper .announcement__items .announcement__item .announcement__item-wrapper .announcement__item-top .announcement__item-desc {
  font-size: 25px;
  line-height: 1.2;
  letter-spacing: -0.23px;
  margin: 0 0 70px 0;
}
.announcement .announcement__wrapper .announcement__items .announcement__item .announcement__item-wrapper .announcement__item-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  font-size: 22px;
  text-transform: uppercase;
  position: relative;
}
.announcement .announcement__wrapper .announcement__items .announcement__item .announcement__item-wrapper .announcement__item-bottom::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #979797;
  position: absolute;
  left: 0;
  top: -20px;
}
.announcement .announcement__wrapper .announcement__items .announcement__item:nth-child(1) {
  background: #f0e8dd;
}
.announcement .announcement__wrapper .announcement__items .announcement__item:nth-child(2) {
  background: #f0e8dd;
}
.announcement .announcement__wrapper .announcement__items .announcement__item:nth-child(4) {
  background: #f0dedd;
}
.announcement .announcement__wrapper .announcement__items .announcement__item:nth-child(5) {
  background: #f0dedd;
}
.announcement .announcement__wrapper .announcement__items .announcement__item:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  /* TODO: Возможно переделать на тень */
}

/* ---------- AMBASSADORS ---------- */
.ambassadors {
  width: 100%;
  background: #bcc5d1;
  padding: 60px 0;
}
.ambassadors .ambassadors__wrapper .ambassadors__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 25px 1fr 25px 1fr 25px 1fr 25px 1fr;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 25px;
  margin: 0 0 100px 0;
}
.ambassadors .ambassadors__wrapper .ambassadors__grid .ambassadors__item {
  width: 240px;
  height: 350px;
  border-radius: 30px;
  background: #000;
  color: #fabc44;
  font-size: 25px;
  text-align: center;
  position: relative;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.ambassadors .ambassadors__wrapper .ambassadors__grid .ambassadors__item .ambassadors__item-front .ambassadors__item-img {
  width: 216px;
  height: 256px;
  margin: 0 0 20px 0;
}
.ambassadors .ambassadors__wrapper .ambassadors__grid .ambassadors__item .ambassadors__item-front .ambassadors__item-img img {
  width: 100%;
  height: 100%;
  border-radius: 13px;
  -o-object-fit: cover;
     object-fit: cover;
}
.ambassadors .ambassadors__wrapper .ambassadors__grid .ambassadors__item .ambassadors__item-front .ambassadors__item-name {
  text-transform: uppercase;
  font-size: 20px;
}
.ambassadors .ambassadors__wrapper .ambassadors__grid .ambassadors__item .ambassadors__item-back {
  display: none;
}
.ambassadors .ambassadors__wrapper .ambassadors__grid .ambassadors__item .ambassadors__item-back .ambassadors__item-desc {
  padding: 50px 20px;
}
.ambassadors .ambassadors__wrapper .ambassadors__grid .ambassadors__item:hover .ambassadors__item-front {
  display: none;
}
.ambassadors .ambassadors__wrapper .ambassadors__grid .ambassadors__item:hover .ambassadors__item-back {
  display: block;
}
.ambassadors .ambassadors__wrapper .ambassadors__grid .ambassadors__item:hover .ambassadors__item-back .ambassodors__item-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.ambassadors .ambassadors__wrapper .ambassadors__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.ambassadors .ambassadors__wrapper .ambassadors__text .ambassadors__title {
  font-size: 120px;
  letter-spacing: -8px;
  margin: 0 80px 0 0;
  text-transform: uppercase;
}
.ambassadors .ambassadors__wrapper .ambassadors__text .ambassadors__subtitle {
  width: 310px;
  font-size: 25px;
  font-weight: 600;
  line-height: 1.4;
}

/* ---------- VIDEO ---------- */
.video {
  width: 100%;
  padding: 0 -50px;
}
.video .video__wrapper {
  position: relative;
  width: 100%;
  height: 882px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.video .video__wrapper .video__video {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-blend-mode: multiply;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(110%, rgba(255, 255, 255, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 110%, rgba(0, 0, 0, 0.5));
}
.video .video__wrapper .video__title {
  color: #f99f3d;
  font-size: 65px;
  font-style: italic;
  letter-spacing: -3.61px;
  text-align: center;
  z-index: 5;
}

/* ---------- EDUCATORS ---------- */
.educators {
  width: 100%;
  background: #373131;
  padding: 70px 0;
}
.educators .educators__wrapper .educators__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 40px 0;
}
.educators .educators__wrapper .educators__top .educators__title {
  color: #c2813b;
  font-size: 90px;
  letter-spacing: -6px;
}
.educators .educators__wrapper .educators__top .educators__btn {
  width: 320px;
  height: 70px;
  padding-top: 5px;
  background: #c2813b;
  border-radius: 42px;
  border: solid 1px #000;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 2px;
  font-size: 22px;
  font-weight: 600;
}
.educators .educators__wrapper .educators__top .educators__mobile-btn {
  display: none;
}
.educators .educators__wrapper .educators__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 15px 1fr 15px 1fr 15px 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}
.educators .educators__wrapper .educators__grid .educators__item .educators__block {
  width: 320px;
  height: 420px;
  position: relative;
  margin: 0 0 30px 0;
}
.educators .educators__wrapper .educators__grid .educators__item .educators__block .educators__position {
  position: absolute;
  bottom: 26px;
  left: 22px;
  padding-top: 5px;
  width: 273px;
  height: 49px;
  border: solid 1px #000;
  border-radius: 33px;
  background-color: #bcc5d1;
  font-size: 15px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.educators .educators__wrapper .educators__grid .educators__item .educators__block .educators__img {
  width: 100%;
  height: 100%;
  border-radius: 70px;
  border: solid 1px #979797;
  background: #000;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}
.educators .educators__wrapper .educators__grid .educators__item .educators__desc {
  font-size: 25px;
  line-height: 1.2;
  color: #fabc44;
  text-align: center;
}
.educators .educators__wrapper .educators__grid .educators__item .educators__desc p {
  font-weight: 800;
}

/* ---------- SECOND-GRID ---------- */
.second-grid {
  width: 100%;
  background: #000;
  position: relative;
}
.second-grid .second-grid__wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1px 1fr 1px 1fr 1px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1px;
  background: #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  margin: 0 -50px;
}
.second-grid .second-grid__wrapper .second-grid__big {
  background: #000;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/span 2/span 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 70px 0;
  font-size: 25px;
  font-weight: 300;
}
.second-grid .second-grid__wrapper .second-grid__big .second-grid__title {
  color: #c2813b;
  padding: 0 50px;
  margin: 0 0 25px 0;
}
.second-grid .second-grid__wrapper .second-grid__big .second-grid__text {
  color: #fff;
  padding: 0 50px;
}
.second-grid .second-grid__wrapper .second-grid__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 520px;
  color: #fff;
  background: #000;
  padding: 20px;
  position: relative;
}
.second-grid .second-grid__wrapper .second-grid__item .second-grid__item-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 180px;
  height: 37px;
  border-radius: 17px;
  background: #000;
  padding: 10px 20px 7px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1.82px;
  color: #dde7f0;
  text-transform: uppercase;
  position: absolute;
  top: 40px;
  left: 40px;
}
.second-grid .second-grid__wrapper .second-grid__item .second-grid__item-img {
  width: 340px;
  height: 230px;
  margin: 0 0 20px 0;
}
.second-grid .second-grid__wrapper .second-grid__item .second-grid__item-img img {
  width: 100%;
  height: 100%;
  border-radius: 18px;
  -webkit-box-shadow: inset 0 0 0 6px #000, 0 0 0 1px #fff;
          box-shadow: inset 0 0 0 6px #000, 0 0 0 1px #fff;
  -o-object-fit: cover;
     object-fit: cover;
}
.second-grid .second-grid__wrapper .second-grid__item .second-grid__item-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: -1px;
  margin: 0 0 20px 0;
}
.second-grid .second-grid__wrapper .second-grid__item .second-grid__item-row .second-grid__item-date {
  text-transform: uppercase;
}
.second-grid .second-grid__wrapper .second-grid__item .second-grid__item-title {
  font-style: italic;
  font-size: 45px;
  line-height: 1.11;
  letter-spacing: -3px;
}
.second-grid .second-grid__wrapper .second-grid__item .second-grid__btn {
  width: 297px;
  height: 70px;
  border-radius: 42px;
  background: #fff;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #000;
  position: absolute;
  bottom: 100px;
  right: 40px;
}
.second-grid .second-grid__wrapper .second-grid__item:hover {
  background: #555;
}

/* ---------- SPEAKERS ---------- */
.speakers {
  width: 100%;
  background: #f7f3ee;
  padding: 150px 0;
}
.speakers .speakers__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.speakers .speakers__wrapper .speakers__title {
  font-size: 60px;
  font-style: italic;
  letter-spacing: -5.45px;
  text-align: center;
  margin: 0 0 100px 0;
}
.speakers .speakers__wrapper .speakers__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 60px 1fr 60px 1fr 60px 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 60px;
}
.speakers .speakers__wrapper .speakers__grid .speakers__item {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: -1px;
}

/* ---------- SPACE ---------- */
.space {
  width: 100%;
  background: #f7b03c;
  padding: 50px 0;
}
.space .space__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.space .space__wrapper .space__slider {
  margin: 0 0 100px 0;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.space .space__wrapper .space__slider .space__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}
.space .space__wrapper .space__slider .space__items .space__item .space__img {
  height: 880px;
  width: 1340px;
}
.space .space__wrapper .space__slider .space__prev,
.space .space__wrapper .space__slider .space__next {
  width: 80px;
  cursor: pointer;
  position: absolute;
  bottom: 30px;
  margin-top: -22px;
  padding: 0 40px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}
.space .space__wrapper .space__slider .space__prev img,
.space .space__wrapper .space__slider .space__next img {
  width: 80px;
}
.space .space__wrapper .space__slider .space__prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  left: 70px;
}
.space .space__wrapper .space__slider .space__next {
  right: 70px;
}
.space .space__wrapper .space__slider .space__nav {
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.space .space__wrapper .space__slider .space__nav .space__nav-item {
  cursor: pointer;
  height: 28px;
  width: 28px;
  margin: 0 16px;
  border: solid 3px #f7b03c;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}
.space .space__wrapper .space__slider .space__nav .space__nav-item:hover {
  background: #f7b03c;
}
.space .space__wrapper .space__slider .space__nav .space__nav-item.active {
  background: #f7b03c;
}
.space .space__wrapper .space__subtitle {
  font-size: 60px;
  font-style: italic;
  letter-spacing: -5.45px;
  text-align: center;
  width: 1044px;
  margin: 0 0 50px 0;
}
.space .space__wrapper .space__number {
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: -1px;
}
.space .space__wrapper .space__title {
  text-transform: uppercase;
  font-size: 120px;
  line-height: 1.83;
  letter-spacing: -8px;
}

/* ---------- FORM ---------- */
.form {
  width: 100%;
  background: #373131;
  padding: 120px 0;
}
.form .form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form .form__wrapper .form__form {
  width: 820px;
  height: 500px;
  border-radius: 70px;
  background-color: #d8d8d8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
  padding: 20px 60px;
  margin: 0 25px 0 0;
}
.form .form__wrapper .form__form .form__title {
  font-size: 90px;
  letter-spacing: -6px;
  margin: 0 0 30px 0;
}
.form .form__wrapper .form__form .form__subtitle {
  max-width: 700px;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: -0.8px;
  line-height: 1.4;
  margin: 0 0 30px 0;
}
.form .form__wrapper .form__form .form__input {
  background: #d8d8d8;
  font-size: 45px;
  letter-spacing: -3px;
  color: #000;
  border: unset;
  border-bottom: 2px solid #000;
  width: 100%;
  padding: 10px 0;
  margin: 0 0 30px 0;
}
.form .form__wrapper .form__form .form__btn {
  text-transform: uppercase;
  width: 300px;
  height: 70px;
  padding-top: 5px;
  border-radius: 42px;
  background: #000;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 2px;
  color: #fff;
}
.form .form__wrapper .form__img {
  width: 480px;
  height: 500px;
}
.form .form__wrapper .form__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 70px;
  border: solid 1px #979797;
}

/* ---------- FOOTER ---------- */
.footer {
  width: 100%;
  background: #000;
  padding: 70px 0;
}
.footer .footer__wrapper {
  color: #fff;
}
.footer .footer__wrapper .footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 100px 0;
}
.footer .footer__wrapper .footer__top .footer__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 35px;
}
.footer .footer__wrapper .footer__top .footer__title .footer__img {
  width: 630px;
  height: 110px;
}
.footer .footer__wrapper .footer__top .footer__title .footer__img img {
  width: 100%;
}
.footer .footer__wrapper .footer__top .footer__btn {
  width: 312px;
  height: 70px;
  padding-top: 5px;
  background: #fff;
  border-radius: 42px;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #000;
}
.footer .footer__wrapper .footer__menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 0 50px 0;
}
.footer .footer__wrapper .footer__menu .footer__menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer .footer__wrapper .footer__menu .footer__menu-item a {
  color: #fff;
  font-size: 50px;
  letter-spacing: -3px;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}
.footer .footer__wrapper .footer__info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.footer .footer__wrapper .footer__info .footer__info-item {
  width: 350px;
  font-size: 25px;
  font-weight: 500;
  line-height: 1.4;
}

/* ---------- POWER ---------- */
.power {
  width: 100%;
  background: #000;
}
.power .power__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}
.power .power__wrapper .power__title {
  text-transform: uppercase;
  font-size: 240px;
  font-weight: 300;
  font-style: italic;
  letter-spacing: -21.6px;
  margin: 0 -200px;
}
.power .power__wrapper .power__row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 40px 0;
}
.power .power__wrapper .power__row .power__item {
  font-size: 25px;
  letter-spacing: -1px;
  text-transform: uppercase;
}

/* ---------- Модал ---------- */
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-family: TTBarrels;
  background: rgba(0, 0, 0, 0.8);
}
.modal .modal__window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000;
  width: 820px;
  padding: 44px;
  background: #d8d8d8;
  border-radius: 147px;
  border: solid 1px #c2813b;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.modal .modal__window .modal__title {
  font-size: 90px;
  letter-spacing: -6px;
  text-align: center;
  margin: 0 0 20px 0;
}
.modal .modal__window .modal__subtitle {
  font-size: 22px;
  line-height: 1.59;
  text-align: center;
  text-transform: uppercase;
  width: 550px;
  margin: 0 0 25px 0;
}
.modal .modal__window .modal__row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 20px 0;
}
.modal .modal__window .modal__row .modal__item {
  width: 350px;
  margin: 0 30px 0 0;
}
.modal .modal__window .modal__row .modal__item .modal__name {
  color: #c2813b;
  font-size: 25px;
  font-weight: 600;
  margin: 0 0 10px;
}
.modal .modal__window .modal__row .modal__item:last-child {
  margin: 0;
}
.modal .modal__window .modal__agreement {
  margin: 20px 0 40px 0;
  width: 700px;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.36;
  text-align: center;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input[type=text],
input[type=tel] {
  border: solid 1px #979797;
  background-color: #d8d8d8;
  color: #868686;
  padding: 22px;
  width: 350px;
  font-size: 25px;
  font-weight: 600;
}

input[type=button] {
  display: inline-block;
  text-align: center;
  background-color: #000;
  color: #fff;
  border-radius: 42px;
  padding: 18px 53px 18px 53px;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}

input[type=submit]:hover {
  cursor: pointer;
}

@media (max-width: 426px) {
  .wrapper {
    min-width: 100%;
    min-height: 100%;
    margin: 0;
  }

  .container {
    max-width: 426px;
    padding: 0px 25px;
    margin: 0;
  }

  .important .important__wrapper {
    height: 35px;
  }
  .important .important__wrapper .important__title {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.64px;
  }

  .header {
    display: none;
  }

  .header__mobile {
    display: block;
    height: 112px;
    width: 100%;
    padding: 23px 0;
    background: #b6c1c1;
  }
  .header__mobile .header__mobile-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    z-index: 3;
  }
  .header__mobile .header__mobile-wrapper .header__logo {
    border-radius: 36.5px;
    border: solid 1px #000;
    background: #fff;
    padding: 14px 33px 20px 26px;
    margin: 0px 14px 0px 0px;
  }
  .header__mobile .header__mobile-wrapper .header__logo img {
    width: 200px;
    height: 30px;
  }
  .header__mobile .header__mobile-wrapper .header__btns {
    position: relative;
  }
  .header__mobile .header__mobile-wrapper .header__btns .header__year {
    width: 101px;
    height: 39px;
    border-radius: 36.5px;
    border: solid 1px #000;
    background: #fff;
    position: absolute;
    bottom: -6px;
    left: 0;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.07px;
    color: #000;
    text-transform: uppercase;
  }
  .header__mobile .header__mobile-wrapper .header__btns .header__menu {
    width: 101px;
    height: 39px;
    border-radius: 36.5px;
    border: solid 1px #000;
    background: #fff;
    position: absolute;
    top: -6px;
    left: 0;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__mobile .header__mobile-wrapper .header__btns .header__menu a {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.07px;
    color: #000;
    text-transform: uppercase;
  }
  .header__mobile .header__mobile-wrapper.fixed {
    position: fixed;
    top: 3%;
    left: 50%;
    -webkit-transform: translate(-44.25%, 0);
            transform: translate(-44.25%, 0);
  }

  .cta .cta__wrapper .cta__title {
    display: none;
  }
  .cta .cta__wrapper .cta__title-mobile {
    display: block;
    margin: 0px 0px 40px 0px;
  }
  .cta .cta__wrapper .cta__title-mobile .cta__subtitle {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.36;
    letter-spacing: -0.5px;
    float: none;
  }
  .cta .cta__wrapper .cta__title-mobile .cta__btn {
    float: right;
    width: 200px;
    height: 56px;
    background: #fabc44;
    border-radius: 42px;
    border: solid 1px #979797;
    font-size: 16px;
    font-weight: 600;
    line-height: 3.75;
    letter-spacing: 1.07px;
    text-transform: uppercase;
  }
  .cta .cta__wrapper .cta__title-mobile p {
    font-size: 70px;
    line-height: 1.09;
    letter-spacing: -5.83px;
    text-transform: uppercase;
    margin: 0px 0px 40px 0px;
  }
  .cta .cta__wrapper .cta__columns {
    margin: 0 0 40px;
  }
  .cta .cta__wrapper .cta__columns .cta__column {
    width: 180px;
  }
  .cta .cta__wrapper .cta__columns .cta__column .cta__img {
    width: 180px;
    height: 280px;
  }
  .cta .cta__wrapper .cta__columns .cta__column .cta__number {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin: 0px 0px 10px 0px;
  }
  .cta .cta__wrapper .cta__columns .cta__column .cta__name {
    font-size: 35px;
    letter-spacing: -2px;
    margin: 0px 0px 10px 0px;
  }
  .cta .cta__wrapper .cta__columns .cta__column .cta__desc {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.43;
    letter-spacing: 0.5px;
  }

  .separator {
    padding: 30px 0;
  }
  .separator .separator__wrapper span {
    font-size: 30px;
    letter-spacing: -1.8px;
  }

  .grid .grid__wrapper {
    margin: 0 -25px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 0 1fr;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    gap: 1px 0;
    font-weight: 300;
  }
  .grid .grid__wrapper .grid__big {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1/1/2/3;
    width: 426px;
  }
  .grid .grid__wrapper .grid__big .grid__title {
    padding: 0 30px;
    margin: 0 0 30px 0;
  }
  .grid .grid__wrapper .grid__big .grid__text {
    padding: 0 30px;
    width: 410px;
    font-size: 24px;
    letter-spacing: -0.5px;
    line-height: 30px;
  }
  .grid .grid__wrapper .grid__item {
    width: 212px;
    height: 140px;
  }
  .grid .grid__wrapper .grid__item a {
    font-size: 35px;
  }
  .grid .grid__wrapper .grid__item:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2/1/3/2;
  }
  .grid .grid__wrapper .grid__item:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2/2/3/3;
  }
  .grid .grid__wrapper .grid__item:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 3/1/4/2;
  }
  .grid .grid__wrapper .grid__item:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 3/2/4/3;
  }
  .grid .grid__wrapper .grid__item:nth-child(6) {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 4/1/5/2;
  }
  .grid .grid__wrapper .grid__item:nth-child(7) {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 4/2/5/3;
  }

  .family {
    padding: 40px 0;
  }
  .family .family__wrapper {
    width: 350px;
  }
  .family .family__wrapper .family__top {
    width: 376px;
    margin: 0px 0px 20px 0px;
  }
  .family .family__wrapper .family__top .family__title {
    font-size: 45px;
    letter-spacing: -2px;
  }
  .family .family__wrapper .family__top .family__scroll img {
    width: 50px;
  }
  .family .family__wrapper .family__top .family__scroll span {
    display: none;
  }
  .family .family__wrapper .family__row .family__item {
    margin: 0px 10px 0px 0px;
  }
  .family .family__wrapper .family__row .family__item .family__img {
    width: 340px;
    height: 470px;
  }
  .family .family__wrapper .family__row .family__item .family__text {
    font-size: 18px;
    line-height: 1.39;
  }

  .announcement {
    padding: 30px 0 50px;
  }
  .announcement .announcement__wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .announcement .announcement__wrapper .announcement__title {
    display: block;
  }
  .announcement .announcement__wrapper .announcement__title .announcement__part-title {
    margin: 10px 0 0 0;
    font-size: 72px;
    letter-spacing: -6px;
    float: left;
  }
  .announcement .announcement__wrapper .announcement__title .announcement__img {
    width: 110px;
    height: 110px;
    margin: 0;
    float: right;
  }
  .announcement .announcement__wrapper .announcement__title .announcement__img img {
    border-radius: 32px;
  }
  .announcement .announcement__wrapper .announcement__text {
    width: 100%;
    font-size: 45px;
    letter-spacing: -2px;
    line-height: 1;
    text-align: left;
  }
  .announcement .announcement__wrapper .announcement__btn {
    width: 220px;
    height: 60px;
    font-size: 16px;
    letter-spacing: 1.07px;
  }
  .announcement .announcement__wrapper .announcement__items .announcement__item {
    width: 340px;
    margin: 0 30px 0 0;
  }
  .announcement .announcement__wrapper .announcement__items .announcement__item .announcement__item-wrapper .announcement__item-top .announcement__item-tags .announcement__item-tag {
    font-size: 18px;
  }
  .announcement .announcement__wrapper .announcement__items .announcement__item .announcement__item-wrapper .announcement__item-top .announcement__item-tags .announcement__item-open {
    font-size: 18px;
  }
  .announcement .announcement__wrapper .announcement__items .announcement__item .announcement__item-wrapper .announcement__item-top .announcement__item-title {
    font-size: 45px;
    letter-spacing: -2px;
  }
  .announcement .announcement__wrapper .announcement__items .announcement__item .announcement__item-wrapper .announcement__item-top .announcement__item-desc {
    font-size: 22px;
    line-height: 1.36;
  }
  .announcement .announcement__wrapper .announcement__items .announcement__item .announcement__item-wrapper .announcement__item-bottom {
    font-size: 20px;
  }
  .ambassadors {
    padding: 45px 0;
    margin: 0px 0px;
  }
  .ambassadors .ambassadors__wrapper .ambassadors__grid {
    -ms-grid-columns: 1fr 5px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    margin: 0px 0px 60px 0px;
  }
  .ambassadors .ambassadors__wrapper .ambassadors__grid .ambassadors__item {
    width: 185px;
    height: 100%;
    font-size: 20px;
  }
  .ambassadors .ambassadors__wrapper .ambassadors__grid .ambassadors__item .ambassadors__item-front .ambassadors__item-img {
    width: 180px;
    height: 213px;
  }
  .ambassadors .ambassadors__wrapper .ambassadors__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .ambassadors .ambassadors__wrapper .ambassadors__text .ambassadors__title {
    letter-spacing: -5px;
    font-size: 60px;
    margin: 0;
  }
  .ambassadors .ambassadors__wrapper .ambassadors__text .ambassadors__subtitle {
    width: 290px;
    font-size: 22px;
    line-height: 1.36;
    margin: 0px 0px 60px 0px;
  }

  .video .video__wrapper {
    height: 780px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .video .video__wrapper .video__video {
    -webkit-transform: scale(4);
            transform: scale(4);
  }
  .video .video__wrapper .video__title {
    font-size: 45px;
    letter-spacing: -2px;
    line-height: 1.22;
    padding: 0px 0px 50px 0px;
  }

  .educators {
    padding: 30px 0 0;
  }
  .educators .educators__wrapper .educators__top {
    margin: 0 0 30px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .educators .educators__wrapper .educators__top .educators__title {
    font-size: 45px;
    letter-spacing: -2px;
    line-height: 1.78;
  }
  .educators .educators__wrapper .educators__top .educators__btn {
    display: none;
  }
  .educators .educators__wrapper .educators__top .educators__mobile-btn {
    display: block;
    width: 124px;
    height: 54px;
    border-radius: 27px;
    border: solid 1px #000;
    background-color: #c2813b;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.07px;
    text-transform: uppercase;
  }
  .educators .educators__wrapper .educators__grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
  .educators .educators__wrapper .educators__grid .educators__item {
    margin: 0 0 50px;
  }
  .educators .educators__wrapper .educators__grid .educators__item .educators__block {
    width: 360px;
    margin: 0 auto 30px;
  }
  .educators .educators__wrapper .educators__grid .educators__item .educators__block .educators__position {
    width: 340px;
    height: 50px;
    font-size: 18px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .educators .educators__wrapper .educators__grid .educators__item .educators__desc {
    font-size: 22px;
  }
  .educators .educators__wrapper .educators__grid .educators__item:nth-child(1),
.educators .educators__wrapper .educators__grid .educators__item:nth-child(2) {
    display: block !important;
  }
  .educators .educators__wrapper .educators__grid .educators__item:nth-child(n) {
    display: none;
  }

  .second-grid {
    width: auto;
  }
  .second-grid .second-grid__wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    gap: 1px;
    margin: 0 -25px;
  }
  .second-grid .second-grid__wrapper .second-grid__big {
    padding: 60px 0 50px;
  }
  .second-grid .second-grid__wrapper .second-grid__big .second-grid__title {
    padding: 0 30px;
    margin: 0 0 35px;
  }
  .second-grid .second-grid__wrapper .second-grid__big .second-grid__text {
    width: 380px;
    padding: 0 30px;
    font-size: 22px;
    letter-spacing: -0.5px;
    line-height: 30px;
  }
  .second-grid .second-grid__wrapper .second-grid__item {
    height: 535px;
    padding: 40px 25px;
  }
  .second-grid .second-grid__wrapper .second-grid__item .second-grid__item-tag {
    top: 50px;
    width: 160px;
    font-size: 18px;
  }
  .second-grid .second-grid__wrapper .second-grid__item .second-grid__item-img {
    width: auto;
    margin: 0 0 25px 0;
  }
  .second-grid .second-grid__wrapper .second-grid__item .second-grid__item-row {
    font-size: 20px;
    font-weight: 300;
  }
  .second-grid .second-grid__wrapper .second-grid__item .second-grid__item-title {
    letter-spacing: -2px;
  }
  .second-grid .second-grid__wrapper .second-grid__item:nth-child(2) {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .second-grid .second-grid__wrapper .second-grid__item:nth-child(n) {
    display: none;
  }
  .second-grid .second-grid__wrapper .second-grid__item:last-child {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    height: 125px;
  }
  .second-grid .second-grid__wrapper .second-grid__item:last-child .second-grid__btn {
    position: static;
    height: 54px;
    width: 224px;
    margin: auto;
    font-size: 16px;
  }

  .speakers {
    padding: 50px 0;
  }
  .speakers .speakers__wrapper .speakers__title {
    font-size: 45px;
    line-height: 1.11;
    letter-spacing: -2px;
    text-align: left;
    margin: 0 0 70px 0;
  }
  .speakers .speakers__wrapper .speakers__grid {
    -ms-grid-columns: 1fr 5px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
  }
  .speakers .speakers__wrapper .speakers__grid .speakers__item {
    font-size: 15px;
    font-weight: 500;
    line-height: 2;
    letter-spacing: -0.8px;
  }

  .space {
    padding: 0 0 40px;
  }
  .space .container {
    padding: 0;
  }
  .space .space__wrapper .space__slider {
    margin: 0 0 20px 0;
  }
  .space .space__wrapper .space__slider .space__items .space__item .space__img {
    height: 780px;
  }
  .space .space__wrapper .space__slider .space__prev, .space .space__wrapper .space__slider .space__next {
    display: none;
  }
  .space .space__wrapper .space__slider .space__nav .space__nav-item {
    text-align: left;
    width: 21px;
    height: 21px;
    margin: 0 6px;
  }
  .space .space__wrapper .space__subtitle {
    width: 100%;
    padding: 0 25px;
    font-size: 45px;
    font-weight: 600;
    letter-spacing: -2px;
    line-height: 1;
    text-align: left;
  }
  .space .space__wrapper .space__number {
    width: 100%;
    padding: 0 25px;
    font-size: 25px;
    text-align: left;
    margin: 0px 0px 70px 0px;
  }
  .space .space__wrapper .space__title {
    font-size: 60px;
    letter-spacing: -5px;
  }

  .form {
    padding: 100px 0 60px 0;
  }
  .form .form__wrapper {
    position: relative;
  }
  .form .form__wrapper .form__form {
    width: 383px;
    height: 490px;
    position: relative;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border-radius: 42px;
    padding: 45px 35px;
  }
  .form .form__wrapper .form__form .form__title {
    text-align: left;
    font-size: 45px;
    letter-spacing: -2px;
  }
  .form .form__wrapper .form__form .form__subtitle {
    text-align: left;
    font-size: 22px;
    line-height: 1.36;
    letter-spacing: -0.5px;
  }
  .form .form__wrapper .form__form .form__input {
    font-size: 30px;
    letter-spacing: -1px;
  }
  .form .form__wrapper .form__form .form__btn {
    font-size: 16px;
    height: 54px;
  }
  .form .form__wrapper .form__img {
    width: 145px;
    height: 145px;
    position: absolute;
    top: -50px;
    left: 53%;
  }
  .form .form__wrapper .form__img img {
    border-radius: 37px;
  }

  .footer {
    padding: 50px 0;
  }
  .footer .footer__wrapper .footer__top {
    margin: 0;
  }
  .footer .footer__wrapper .footer__top .footer__title .footer__img {
    width: 330px;
  }
  .footer .footer__wrapper .footer__top .footer__btn {
    display: none;
  }
  .footer .footer__wrapper .footer__menu {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    width: 100%;
  }
  .footer .footer__wrapper .footer__menu .footer__menu-item a {
    margin: 0;
    font-size: 40px;
    letter-spacing: -2.4px;
    line-height: 1.9;
  }
  .footer .footer__wrapper .footer__info {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 35px;
  }
  .footer .footer__wrapper .footer__info .footer__info-item {
    width: 100%;
    font-size: 22px;
    line-height: 1.36;
  }

  .power .power__wrapper .power__title {
    font-size: 150px;
    letter-spacing: -13.63px;
    line-height: 120px;
    text-align: center;
  }
  .power .power__wrapper .power__row {
    padding: 10px 10px 60px;
    gap: 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .power .power__wrapper .power__row .power__item {
    font-size: 20px;
    line-height: 2;
  }

  .modal .modal__window {
    -webkit-transform: scale(0.4) translate(-126%, -120%);
            transform: scale(0.4) translate(-126%, -120%);
    left: 50%;
    top: 50%;
  }
}